<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:label="TorBox Discover Preview" tools:replace="android:label">
        <activity
            android:name=".PreviewActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="TorBox Drop Visual QA" />
    </application>
</manifest>
